.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 78.5vh;
  overflow: hidden;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url("../assets/home-background.jpg");
  background-position: 5% 50%;
  padding: 0px 140px;
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  filter: brightness(50%);
}

.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 101;
  top: 29vh;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 20px;
  filter: unset
}

.home span:first-child {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1px;
  animation: slideDown 0.9s ease-in-out
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home span:nth-child(2) {
  font-size: 15px;
}

.home a {
  padding: 12px 40px;
  border-radius: 20px;
  background-color: #76abae;
  border: none;
  font-size: 14px;
  color: white;
  margin: 25px 25px 0px 0px;
  transition: 0.3s background-color ease;
  animation: slideUp 0.9s ease-in-out;
  text-decoration: none
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home a:hover {
  background-color: #4e8c97;
  transition: 0.4s background-color ease;
  cursor: pointer
}




@media screen and (max-width: 945px) {
  .main {
    height: 61vh;
  }

  .home {
    justify-content: center;
    top: unset;
    margin-top: 11vh
  }

  .container {
    
  }

  .home span:nth-child(2) {
    font-size: 0.9rem;
    width: 95%;
    text-align:center;
  }

  .home span:first-child {
    font-size: 1.4rem;
    text-align:center;
    width: 100%;
  }


}
