.main {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 101
}

.nav {
  display: flex;
  width: 1078px;
  height: 86px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav ul {
  display: flex;
  list-style: none
}

.nav ul li {
  padding: 6px 22px 6px 22px
}

.nav ul li:hover {
  color: #76abae;
  cursor: pointer;
}

.nav img {
  height: 40px
}
